{% extends "base.html" %}
{% block body %}
{% comment %} our service section start {% endcomment %}

  <section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/static/images/s-1.png" alt="">
            <h3>2D animation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, animi?</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <img src="/static/images/s-2.png" alt="">
            <h3>3D animation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, animi?</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <img src="/static/images/s-3.png" alt="">
            <h3>Dynamic AD</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, animi?</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <img src="/static/images/s-4.png" alt="">
            <h3>AR on the ar </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, animi?</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <img src="/static/images/s-5.png" alt="">
            <h3>ad campaign</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, animi?</p>
            <a href="#" class="btn">learn more</a>
        </div>

        <div class="box">
            <img src="/static/images/s-6.png" alt="">
            <h3>content marketing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, animi?</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>


  {% comment %} our service section end {% endcomment %}
  
  {% endblock  %}